@charset "utf8";

/*common*/
body {
margin: 0;
font-family: Arial, メイリオ;
}

h1 {
  color: white;
  font-size: 28px;
  margin: 0 0 0 50px;
}

h3 {
  font-size: 28px;
  margin: 20px auto 10px;
}

p {
  font-weight: bold;
  

}

a {
  text-decoration: none;
  color: white;
}

/*header*/
header {
  background: rgb(3, 201, 3);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  display: flex;
  margin-right: 30px;
}

nav ul li {
  list-style: none;
  font-size: 16px;
  padding: 16px;
}

/*main*/

main img {
  width: 100%; 
  height: auto;
}

.title {
  font-family: HGPMinchoB;
  text-align: center;
}

.title-top {
  color: black;
  display: block;
  letter-spacing: 1.5px;
  font-size: 30px;
  margin: 10px;

}

.title-bottom {
  color:rgb(3, 201, 3);
  font-size: 35px;
  letter-spacing: 1.7px;
}

.discription {
  display: flex;
  gap: 40px;
  margin: 40px auto;
  max-width: 1200px;
}

.discription img {
  margin-left: 50px;
  width: 50%;
}

.discription-block {
  margin: 0 20px;
}

/*button*/

.btn {
  margin: 40px auto;
  text-align: center
}

.btn-a{
  background-color: #ffa726
}

.btn-b {
  background-color: #4caf50;
  margin-top: 20px
}


.btn-a,.btn-b {
    border-radius: 14px;
    box-shadow: 0 3px 6px #00000029;
    color: #fff;
    font-size: 28px;
    padding: 7px 20px
  }

  /*footer*/ 

footer {
  background: rgb(3, 201, 3);
  text-align: center;
  padding: 32px;
}

footer h3 {
  color: whitesmoke;
}

small {
  color: whitesmoke;
}

